.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 60px var(--side-margin) 20px var(--side-margin);
	gap: 50px;

	.info {
		display: flex;
		flex-direction: column;
		flex: 1;
		gap: 24px;

		.socials,
		.hours {
			display: flex;
			flex-direction: column;
			gap: 12px;

			> div {
				display: flex;
				flex-direction: row;
				gap: 12px;
			}
		}
	}

	.links {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		flex: 1.5;
		gap: 12px;

		a {
			width: calc(33% - 6px);
		}

		> iframe {
			width: 100%;
		}
	}

	.copyright {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
	}
}

.socialBubble {
	height: 48px;
	width: 48px;
	overflow: hidden;
	border-radius: 100%;
	// background-color: #ccc;
}

@media screen and (max-width: 1024px) {
	.container {
		.links {
			a {
				width: calc(50% - 6px);
			}
		}
	}
}
