.container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--secondary-color);
	z-index: 99;

	.logo {
		height: 50px;
		width: 150px;
		display: flex;
		align-items: center;

		img {
			object-fit: contain;
			object-position: left center;
		}
	}

	nav {
		display: flex;
		flex-direction: row;
		gap: 18px;

		a {
			transition: color 0.3s ease-in-out;
			&:hover {
				color: var(--decorative-element-color);
			}
		}

		&.mobile {
			position: absolute;
			top: 0;
			left: 100%;
			height: 100vh;
			width: 100vw;
			flex-direction: column;
			gap: 24px;
			align-items: center;
			justify-content: center;
			background-color: var(--secondary-color);

			> button {
				position: absolute;
				top: 28px;
				right: 41px;
			}
		}
	}

	button {
		padding: 7px;
		background-color: var(--secondary-button-color);
		border-radius: 8px;
		border: none;
		cursor: pointer;
	}
}

@media screen and (max-width: 425px) {
	.container {
		padding: 12px;
	}
}
