.container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	nav {
		display: flex;
		flex-direction: row;
		gap: 18px;
	}
}
