@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 212.7 26.8% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
		Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	// outline: 1px solid red;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
}

text {
	line-height: 24px;
}

html {
	&::-webkit-scrollbar {
		width: 5px;
	}
	&::-webkit-scrollbar-track {
		background-color: var(--accent-color);
	}
	&::-webkit-scrollbar-thumb {
		background-color: var(--primary-button-color);
		border-radius: 3px;
	}
}

:root {
	--side-margin: 20%;
	--primary-color: #fefefe;
	--secondary-color: #010101;
	--primary-button-color: #5b5dff;
	--secondary-button-color: #181818;
	--accent-color: #181818;
	--decorative-element-color: #5b5dff;
	--shadow-color: rgba(91, 93, 255, 0.39);
}

:root.dark {
	--primary-color: #fefefe;
	--secondary-color: #010101;
	--primary-button-color: #5b5dff;
	--secondary-button-color: #181818;
	--accent-color: #181818;
	--decorative-element-color: #5b5dff;
	--shadow-color: rgba(91, 93, 255, 0.39);
}

:root.light {
	--primary-color: #010101;
	--secondary-color: #fefefe;
	--primary-button-color: #5b5dff;
	--secondary-button-color: #ededed;
	--accent-color: #ededed;
	--decorative-element-color: #5b5dff;
	--shadow-color: rgba(91, 93, 255, 0.39);
}

html {
	background-color: var(--secondary-color);

	* {
		color: var(--primary-color);
	}
	overflow-x: hidden;
}

.lf-player-container {
	height: 100%;
	width: 100%;
	* {
		height: 100%;
	}
}

@media screen and (max-width: 1600px) {
	:root {
		--side-margin: 15%;
	}
}

@media screen and (max-width: 1440px) {
	:root {
		--side-margin: 10%;
	}
}

@media screen and (max-width: 1024px) {
	:root {
		--side-margin: 5%;
	}
}
