@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
		Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	// outline: 1px solid red;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
}

text {
	line-height: 24px;
}

html {
	&::-webkit-scrollbar {
		width: 5px;
	}
	&::-webkit-scrollbar-track {
		background-color: var(--accent-color);
	}
	&::-webkit-scrollbar-thumb {
		background-color: var(--primary-button-color);
		border-radius: 3px;
	}
}

:root {
	--side-margin: 20%;
	--primary-color: #fefefe;
	--secondary-color: #010101;
	--primary-button-color: #5b5dff;
	--secondary-button-color: #181818;
	--accent-color: #181818;
	--decorative-element-color: #5b5dff;
	--shadow-color: rgba(91, 93, 255, 0.39);
}

:root.dark {
	--primary-color: #fefefe;
	--secondary-color: #010101;
	--primary-button-color: #5b5dff;
	--secondary-button-color: #181818;
	--accent-color: #181818;
	--decorative-element-color: #5b5dff;
	--shadow-color: rgba(91, 93, 255, 0.39);
}

:root.light {
	--primary-color: #010101;
	--secondary-color: #fefefe;
	--primary-button-color: #5b5dff;
	--secondary-button-color: #ededed;
	--accent-color: #ededed;
	--decorative-element-color: #5b5dff;
	--shadow-color: rgba(91, 93, 255, 0.39);
}

html {
	background-color: var(--secondary-color);

	* {
		color: var(--primary-color);
	}
	overflow-x: hidden;
}

.lf-player-container {
	height: 100%;
	width: 100%;
	* {
		height: 100%;
	}
}

@media screen and (max-width: 1600px) {
	:root {
		--side-margin: 15%;
	}
}

@media screen and (max-width: 1440px) {
	:root {
		--side-margin: 10%;
	}
}

@media screen and (max-width: 1024px) {
	:root {
		--side-margin: 5%;
	}
}
