.container {
	display: flex;
	flex-direction: column;
	gap: 48px;
	padding: 0 var(--side-margin);
	border-radius: 18px;

	.headings {
		h3 {
			opacity: 40%;
		}
	}

	.map {
		display: flex;
		flex-direction: column;
		position: relative;

		.overlay {
			position: absolute;
			z-index: 1;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-end;
			width: 100%;

			.details {
				padding: 12px 48px;
				min-height: calc(100% - 100px);
				background-color: rgb(32 34 42 / 40%);
				backdrop-filter: blur(10px);
				border-radius: 18px;
				display: flex;
				flex-direction: column;
				gap: 24px;
				justify-content: center;
				align-items: center;

				> div {
					display: flex;
					flex-direction: column;
					gap: 12px;

					div {
						display: flex;
						flex-direction: column;
						gap: 2px;
						h3 {
							color: var(--decorative-element-color);
							margin-bottom: 12px;
							font-style: italic;
						}
					}
				}
			}

			.socials {
				display: flex;
				flex-direction: row;
				gap: 24px;

				.button {
					display: flex;
					flex-direction: row;
					gap: 8px;
					align-items: center;
					padding: 12px;
					background-color: rgb(32 34 42 / 40%);
					backdrop-filter: blur(10px);
					border-radius: 18px;

					.image {
						height: 32px;
						width: 32px;
					}

					.info {
						display: flex;
						flex-direction: column;

						span:last-child {
							opacity: 40%;
							font-size: 8px;
						}
					}

					.arrow {
						height: 16px;
						width: 16px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	.container {
		.map {
			.overlay {
				align-items: center;

				.socials {
					flex-direction: column;
				}
			}
		}
	}
}

@media screen and (max-width: 425px) {
	.container {
		.map {
			gap: 24px;

			> div:first-child {
				height: 400px !important;
			}

			.overlay {
				position: relative;
				flex-direction: column;
				gap: 24px;

				.socials {
					flex-direction: row;
					flex-wrap: wrap;

					.button {
						flex: 1;
						justify-content: space-between;
					}
				}

				.details {
					width: 100%;
					padding: 24px;
					min-height: unset;

					> div {
						flex-direction: row;
						flex-wrap: wrap;
						justify-content: space-between;

						div {
							flex: 1;
						}
					}
				}
			}
		}
	}
}
