.container {
	padding: 100px var(--side-margin);
	display: flex;
	flex-direction: column;
	gap: 48px;

	.headings {
		display: flex;
		flex-direction: column;

		.subheading {
			display: flex;
			flex-direction: row;

			gap: 8px;
			h3 {
				opacity: 40%;
			}
			a {
				color: var(--decorative-element-color);
			}
		}
	}
}
