.container {
	display: flex;
	flex-direction: row;
	align-items: center;

	.image {
		max-width: 700px;
		* {
			fill: var(--decorative-element-color);
		}
	}

	.image,
	.info {
		position: relative;
		flex: 1;
	}

	.info {
		padding: 60px;
		display: flex;
		flex-direction: column;
		gap: 52px;

		> text {
			line-height: 30px;
		}

		button {
			width: max-content;
			padding: 12px 150px;
			align-self: center;
			border-radius: 48px;
			cursor: pointer;
			background-color: var(--primary-button-color);
			border: none;
			white-space: nowrap;
			text-align: center;
		}
	}
}

@media screen and (max-width: 768px) {
	.container {
		flex-direction: column;
		height: 100%;
	}
}

@media screen and (max-width: 425px) {
	.container {
		.info {
			text,
			h2 {
				text-align: center;
			}

			button {
				padding: 12px 110px;
			}
		}
	}
}
