.container {
	position: relative;
	height: calc(100vh - 100px); //subtract header height
	display: flex;
	align-items: center;

	.background {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	> img {
		inset: 0 0 0 25% !important;
	}

	.content {
		display: flex;
		flex-direction: column;
		gap: 32px;
		margin-left: var(--side-margin);
		z-index: 2;
		max-width: 500px;

		.headerText {
			background: linear-gradient(
				91deg,
				var(--primary-button-color),
				var(--primary-button-color) 0.01%,
				#eb73ff 47.4%,
				#1de6ff
			);
			-webkit-background-clip: text;
			font-size: 50px;
			background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		.description {
			font-size: 16px;
			line-height: 24px;
		}

		> text {
			position: relative;
			line-height: 20px;

			&:before {
				content: "";
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				width: 3px;
			}
		}

		.buttons {
			display: flex;
			flex-direction: row;
			gap: 10px;

			button {
				background-color: transparent;
				border: none;
				padding: 12px 52px;
				cursor: pointer;
				border-radius: 4px;
				background-color: var(--primary-button-color);
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.container {
		height: 100vh;
		flex-direction: column;
		margin-top: 100px;
		height: auto;

		.content {
			align-items: center;
			margin-left: 0;

			p {
				text-align: center;
			}
		}

		> img {
			position: relative !important;
			inset: 0 !important;
			height: 300px !important;
		}
	}
}
