.container {
	margin: 0 var(--side-margin);
	padding: 100px 0;
	display: flex;
	flex-direction: column;
	gap: 48px;

	> div {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 48px;
	}
}

.panel {
	display: flex;
	flex-direction: column;
	gap: 12px;
	flex: 1;

	> .image {
		position: relative;
		height: 250px;
		width: 100%;
		background-color: #ccc;
	}
}

@media screen and (max-width: 768px) {
	.container {
		> div {
			flex-direction: column;
		}
	}
}
