@use "/src/styles/variables.scss" as variables;

.container {
	margin: 0 variables.$sideMargin;
	padding: 100px 0;
	display: flex;
	flex-direction: column;
	gap: 48px;

	> div {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}

.panel {
	display: flex;
	flex-direction: column;
	gap: 12px;
	max-width: 30%;
}
