.container {
	position: relative;
	padding: 100px var(--side-margin);
	display: flex;
	flex-direction: column;
	gap: 48px;

	.content {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		column-gap: 12px;
		row-gap: 211px;

		// border magic
		// https://kovart.github.io/dashed-border-generator/
		// negative stroke-dash-offset moves the start point to the right
		.panel {
			width: calc(25% - 9px);

			&:not(:last-child) {
				&:after {
					content: "";
					position: absolute;
					width: 80px;
					height: 2px;
					background-color: var(--decorative-element-color);
					left: calc(50% + 40px);
					top: 70%;
				}
			}

			&:nth-child(1) {
				.image::after {
					position: absolute;
					content: "";
					height: 100%;
					width: 100%;
					background: var(--decorative-element-color);
					mask-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='3' stroke-dasharray='75%2c 500' stroke-dashoffset='-75' stroke-linecap='square'/%3e%3c/svg%3e");
				}
			}

			&:nth-child(2) {
				.image::after {
					position: absolute;
					content: "";
					height: 100%;
					width: 100%;
					background: var(--decorative-element-color);
					mask-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='3' stroke-dasharray='150%2c 400' stroke-dashoffset='-75' stroke-linecap='square'/%3e%3c/svg%3e");
				}
			}

			&:nth-child(3) {
				.image::after {
					position: absolute;
					content: "";
					height: 100%;
					width: 100%;
					background: var(--decorative-element-color);
					mask-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='3' stroke-dasharray='225%2c 400' stroke-dashoffset='-75' stroke-linecap='square'/%3e%3c/svg%3e");
				}
			}

			&:nth-child(4) {
				&:after {
					height: 80px;
					width: 450px;
					right: 75%;
					left: unset;
					top: calc(100% + 25px);
					background-color: transparent;
					border-right: 1px solid var(--decorative-element-color);
					border-bottom: 1px solid var(--decorative-element-color);
				}

				.image::after {
					position: absolute;
					content: "";
					height: 100%;
					width: 100%;
					background: var(--decorative-element-color);
					mask-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='3' stroke-dasharray='300%2c 400' stroke-dashoffset='-75' stroke-linecap='square'/%3e%3c/svg%3e");
				}
			}

			&:nth-child(5) {
				&:before {
					position: absolute;
					content: "";
					height: 80px;
					width: 450px;
					left: 27%;
					bottom: calc(100% + 25px);
					border-left: 1px solid var(--decorative-element-color);
					border-top: 1px solid var(--decorative-element-color);
				}

				.image::after {
					position: absolute;
					content: "";
					height: 100%;
					width: 100%;
					background: var(--decorative-element-color);
					mask-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='3' stroke-dasharray='375%2c 400' stroke-dashoffset='-75' stroke-linecap='square'/%3e%3c/svg%3e");
				}
			}
			&:nth-child(6) {
				.image::after {
					position: absolute;
					content: "";
					height: 100%;
					width: 100%;
					background: var(--decorative-element-color);
					mask-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='3' stroke-dasharray='450%2c 400' stroke-dashoffset='-75' stroke-linecap='square'/%3e%3c/svg%3e");
				}
			}
			&:nth-child(7) {
				.image::after {
					position: absolute;
					content: "";
					height: 100%;
					width: 100%;
					background: var(--decorative-element-color);
					mask-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='3' stroke-dasharray='525%2c 400' stroke-dashoffset='-75' stroke-linecap='square'/%3e%3c/svg%3e");
				}
			}
			&:nth-child(8) {
				.image::after {
					position: absolute;
					content: "";
					height: 100%;
					width: 100%;
					background: var(--decorative-element-color);
					mask-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='3' stroke-dasharray='575%2c 0' stroke-dashoffset='-75' stroke-linecap='square'/%3e%3c/svg%3e");
				}
			}

			&:nth-child(5),
			&:nth-child(6),
			&:nth-child(7),
			&:nth-child(8) {
				flex-direction: column;

				&:after {
					top: 30%;
				}
			}
		}
	}
}

.panel {
	position: relative;
	display: flex;
	flex-direction: column-reverse;
	gap: 12px;
	justify-content: space-between;

	> div {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.image {
		position: relative;
		display: flex;
		height: 150px;
		width: 150px;
		border: none;
		> img {
			border: 2px solid var(--accent-color);
		}
	}
}

@media screen and (max-width: 1024px) {
	.container {
		content {
			.panel {
				&:not(:last-child) {
					&:after {
						width: 50px;
						left: calc(50% + 55px);
					}
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.container {
		.content {
			flex-direction: column;
			gap: 100px;
			align-items: center;

			.panel {
				align-items: center;
				width: unset;
				flex: 1;

				&:nth-child(4) {
					&:after {
						content: "";
						position: absolute;
						width: 80px;
						height: 2px;
						background-color: var(--decorative-element-color);
						left: calc(50% + 40px);
						top: 75%;
					}
				}

				&:nth-child(5) {
					&::before {
						display: none;
					}
				}

				> div {
					align-items: center;
					* {
						text-align: center;
					}
				}
				&:not(:last-child) {
					&::after {
						width: 1px;
						height: 50px;
						top: calc(100% + 25px);
						left: 50%;
					}
				}
			}
		}
	}
}
