.container {
	margin: 0 var(--side-margin);
	padding: 100px 0;
	display: flex;
	flex-direction: column;
	gap: 48px;

	> div {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 12px;

		// border magic
		// https://kovart.github.io/dashed-border-generator/
		// negative stroke-dash-offset moves the start point to the right
		.panel {
			&:nth-child(1) {
				.image::after {
					position: absolute;
					content: "";
					height: 100%;
					width: 100%;
					background: var(--decorative-element-color);
					mask-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='3' stroke-dasharray='150%2c 400' stroke-dashoffset='-75' stroke-linecap='square'/%3e%3c/svg%3e");
				}
			}

			&:nth-child(2) {
				.image::after {
					position: absolute;
					content: "";
					height: 100%;
					width: 100%;
					background: var(--decorative-element-color);
					mask-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='3' stroke-dasharray='300%2c 400' stroke-dashoffset='-75' stroke-linecap='square'/%3e%3c/svg%3e");
				}
			}

			&:nth-child(3) {
				.image::after {
					position: absolute;
					content: "";
					height: 100%;
					width: 100%;
					background: var(--decorative-element-color);
					mask-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='3' stroke-dasharray='450%2c 400' stroke-dashoffset='-75' stroke-linecap='square'/%3e%3c/svg%3e");
				}
			}

			&:nth-child(4) {
				.image::after {
					position: absolute;
					content: "";
					height: 100%;
					width: 100%;
					background: var(--decorative-element-color);
					mask-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='3' stroke-dasharray='600%2c 0' stroke-dashoffset='-75' stroke-linecap='square'/%3e%3c/svg%3e");
				}
			}

			&:not(:last-child) {
				&:after {
					content: "";
					position: absolute;
					width: 80px;
					height: 1px;
					background-color: var(--decorative-element-color);
					left: calc(50% + 40px);
					top: 25%;
				}
			}
		}
	}
}

.panel {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 12px;
	flex: 1;

	.image {
		position: relative;
		display: flex;
		height: 150px;
		width: 150px;
		border: none;
		> img {
			border: 2px solid #ccc;
		}
	}
}

@media screen and (max-width: 1024px) {
	.container {
		> div {
			.panel {
				&:not(:last-child) {
					&:after {
						width: 50px;
						left: calc(50% + 55px);
					}
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.container {
		> div {
			flex-direction: column;
			gap: 100px;
			align-items: center;

			.panel {
				align-items: center;

				&:not(:last-child) {
					&::after {
						width: 1px;
						height: 50px;
						top: calc(100% + 25px);
						left: 50%;
					}
				}
			}
		}
	}
}
