.container {
	position: relative;
	height: calc(100vh - 100px); //subtract header height
	display: flex;
	align-items: center;

	.background {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.content {
		display: flex;
		flex-direction: column;
		gap: 18px;
		margin-left: var(--side-margin);
		z-index: 2;
		max-width: 500px;

		> text {
			position: relative;

			&:before {
				content: "";
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				width: 3px;
				// background-color: #ccc;
			}
		}

		.buttons {
			display: flex;
			flex-direction: row;
			gap: 10px;

			button {
				background-color: transparent;
				border: none;
				padding: 12px 52px;
				cursor: pointer;
				border-radius: 4px;

				&:first-child {
					background-color: var(--primary-button-color);
				}

				&:last-child {
					background-color: var(--secondary-button-color);
				}
			}
		}
	}
}
